#hero{
    text-align: center;
    background-image: url("/img/bg-masthead.jpg");
    padding-top: 300px;
    padding-bottom: 300px;
    background-size: cover;
    background-position: center;
}

#about_us{
    padding: 50px 0px;
    background-color: rgb(240, 240, 240);
    padding: 10% 0;
}

#about_us i{
    font-size: 60px;
    color: rgb(77, 160, 255);
    margin-bottom: 20px;
}

#about_us h2{
    margin-bottom: 10px;
}

  .integridad h2{
    padding-left: 50px;
  }

  .integridad p{
    padding-left: 50px;
    padding-right: 70px;
  }

  .compromiso h2{
    padding-left: 50px;
  }

  .compromiso p{
    padding-left: 50px;
    padding-right: 70px;
  }

  #mc_embed_signup{
    background: rgb(167, 167, 167, 0.4);
    font-size: 14px;
    width: 700px;
    margin: 0 auto;
    padding: 35px 30px;
    border-radius: 40px;
  }
  
  #mc_embed_signup h2{
    color: white;
    text-align: center;
    font-weight: bold;
  }
  
  .mc-field-group {
    margin-bottom: 15px;
  }
  
  #mc_embed_signup label{
    font-weight: 600;
      margin-bottom: 5px;
      color: white;
      text-transform: capitalize;
  }
  
  #mc_embed_signup input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
    margin: 5px;
  }
  
  #mc_embed_signup .asterisk {
    color: #DF3504;
  }
  
  #mc_embed_signup .indicates-required {
    font-size: 20px;
    color: white;
    margin-bottom: 12px;
    text-align: end;
  }
  
  #mc_embed_signup .button {
    background-color: #0781b9;
    color: white;
    padding: 10px 65px;
    border: none;
    border-radius: 30px;
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
    
  }
  
  #mc_embed_signup .button:hover {
    background-color: #ffffff;
    color: black;
  }

  #contacto{
    text-align: center;
    background-image: url("/img/bg-masthead.jpg");
    padding-top: 300px;
    padding-bottom: 300px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: aliceblue;
}

#piedepagina{
    padding-top: 70px;
    padding-bottom: 50px;
    padding-left: 70px;
}

#sociales{
    padding-left: 500px;
}